@media screen and (max-width:640px) {
    #avtr{
       display: none;
    }
}
.portfolio-main {
    max-width: 960px;
    margin: 0 auto;
}

.name-section{
    justify-content: space-between;
    margin-bottom: 10px;
}
a.social-icon-link {
    padding-right: 13px;
}
.avtr-img {
    height: 290px;
}
.headline {
    color: #828091;
    font-weight: 400;
}

@keyframes avtr-animation {
    from {left: 450px;}
    to {left: -80px;}
  }
#avtr{
    position: relative;
    left: 450px;
    animation-name: avtr-animation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes subtag-animation {
    from {left: -900px;}
    to {left: 0px;}
  }

.sub-tag{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 55px;
    position: relative;
    left: -900px;
    animation-name: subtag-animation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes desc-animation {
    from {left: -900px;}
    to {left: 0px;}
  }

.desc{
    position: relative;
    left: -900px;
    line-height: 1.5rem;
    font-size: medium;
    animation-name: subtag-animation;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
.d-flex{
    display: flex;
}
.index-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}
