{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}

    <div class="portfolio-main">
    <div class="d-flex name-section">
        <div class="sub-tag">
            <div class="name">
                <h1>{{ .Site.Params.index.title }}</h1>
            </div>
            <div>
                {{ with .Site.Params.index.subtitle }}
                <h3 class="headline">{{ . }}</h3>
                {{ end }}
            </div>
            <div class="social">
                {{- partial "_shared/social.html" . -}}
            </div>
        </div>
        <div id="avtr">
            <img class="avtr-img" src="{{ .Site.Params.index.avtr }}" alt="" srcset="">
        </div>
    </div>
        {{ with .Site.Params.index.mdSelf }}
        <div class="desc">
            {{ . | markdownify }}
        </div>
        {{end}}
        <!-- <div class="d-flex">
            <div>
                <a href="https://app.testdome.com/cert/ca927783d8c14f0fa50bca0e4f913897" class="testdome-certificate-stamp gold"><span class="testdome-certificate-name">Santhosh PS</span><span class="testdome-certificate-test-name">JavaScript </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a><script>var stylesheet = "https://app.testdome.com/content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script>
            </div>
            <div>
                <a href="https://app.testdome.com/cert/aebdb86fc58544bca41557f8a8469ec5" class="testdome-certificate-stamp gold"><span class="testdome-certificate-name">Santhosh PS</span><span class="testdome-certificate-test-name">Node.js </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a><script>var stylesheet = "https://app.testdome.com/content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script>
            </div>
            <div>
                <a href="https://app.testdome.com/cert/10e40e28e4564e4f9d2db4c2033d42ec" class="testdome-certificate-stamp gold"><span class="testdome-certificate-name">Santhosh PS</span><span class="testdome-certificate-test-name">SQL </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a><script>var stylesheet = "https://app.testdome.com/content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script>
            </div>
        </div> -->
    </div>
    
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
