{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="portfolio-main">
    <div class="d-flex name-section">
        <div class="sub-tag">
            <div class="name">
                <h1>{{ .Site.Params.index.title }}</h1>
            </div>
            <div>
                {{ with .Site.Params.index.subtitle }}
                <h3 class="headline">{{ . }}</h3>
                {{ end }}
            </div>
            <div class="social">
                {{- partial "_shared/social.html" . -}}
            </div>
        </div>
        <div>
            <img class="avtr-img" src="https://i.imgur.com/D0AzFLi.png" alt="" srcset="">
        </div>
    </div>
        {{ with .Site.Params.index.mdSelf }}
        <div class="desc">
            {{ . | markdownify }}
        </div>
        {{end}}
    </div>
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
