<section class="social-icons">
    {{ with .Site.Params.social.github }}
    <a class="social-icon-link" href="https://github.com/{{.}}"><i class="fab fa-github social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
    <a class="social-icon-link" href="https://linkedin.com/in/{{.}}"><i class="fab fa-linkedin social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.xing }}
    <a class="social-icon-link" href="https://www.xing.com/profile/{{.}}"><i class="fab fa-xing social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.medium }}
    <a class="social-icon-link" href="https://www.medium.com/@{{.}}"><i class="fab fa-medium social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.twitter }}
    <a class="social-icon-link" href="https://twitter.com/{{.}}"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.instagram }}
    <a class="social-icon-link" href="https://www.instagram.com/{{.}}"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.gmail }}
    <a class="social-icon-link" href="mailto:{{.}}"><i class="fab fa-google social-icon" aria-hidden="true"></i></a>
    {{ end }}
</section>
